@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1E1E2E;
  --foreground: #171717;
  --disabled: #1f2937;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E1E2E;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .columnDisabled {
    border-color: #1f2937 !important;
    background: #111827 !important;
  }

  .wordWarn {
    border-color: #B58900 !important;
    background-color: #B58900 !important;
  }

  .wordWrong {
    border-color: #606060 !important;
    background-color: #606060 !important;
  }

  .wordRight {
    border-color: #008037 !important;
    background-color: #008037 !important;
  }

  .helperTxt {
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: #D3D3D3;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.35em;
  }
}