@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111827;
  --foreground: #171717;
  --disabled: #1f2937;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .columnDisabled {
    border-color: #1f2937 !important;
    background: #111827 !important;
  }
  .wordWarn {
    border-color: #b18605 !important;
    background-color: #eab308 !important;
  }
  .wordWrong {
    background-color: #374151 !important;
  }
  .wordRight {
    border-color: #137b39 !important;
    background-color: #22c55e !important;
  }
}
